html { 
  background: url('img/156.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
   height: 100%;
   margin: 0;
   width: 100%;
   background-color: none;
}

h1 {
   font-size: 40px;
   color: #ffffff;
   font-family: 'Helvetica', sans-serif;
}

h2 {
   color: #ffffff;
   font-family: 'Helvetica', sans-serif;
   font-size: 28px;
   text-indent: 20px;
   text-decoration: underline;
}

h3 {
   color: #fff;
   font-family: 'Helvetica', sans-serif;
   font-size: 24px;
   text-align: center;
   text-decoration: none;
}

h3 a {
   color: #fff;
   text-decoration: none;
}

.example {
   padding: 20px 0;
   margin: 0;
   font-family: 'Courier New', monospace;
   color: #ffffff;
   padding-bottom: 50px;
}

#wrap {
   min-height:100%;
}

#left_col {
   float: left;
   width: 50%;
   text-align: left;
   text-indent: 30px;
}

#right_col {
   float: right;
   width: 50%;
   text-align: left;
   text-indent: 30px;
}

p {
   color: #87cefa;
   font-size: 20px;
   text-decoration: bold;
   text-indent: 10px;
}

.example a {
   text-decoration: none;
   color: #ffffff;
   font-size: 18px;
}

.footer {
   color: DarkSlateGray;
   background-color: #d4d6d8;
   text-align: center;
   height: 50px;
   width: 100%;
   padding-top: 25px;
   padding-bottom: 25px;
   position: relative;
   margin-top: -50px;
   clear: both;
}
