body {
   height: 100%;
   margin: 0;
   width: 100%;
   background-image:
  url('img/156.jpg');
   background-size: cover;
}

h1 {
   font-size: 40px;
   color: #ffffff;
   font-family: Helvetica, sans-serif;
}

h2 {
   color: #ffffff;
   font-family: Helvetica, sans-serif;
   font-size: 28px;
   text-indent: 20px;
   text-decoration: underline, bold;
}

.example {
   padding: 20px 0;
   margin: 0;
   font-family: Courier New, monospace;
   color: #ffffff;
}

#wrap {
   width: 100%;
   margin: 0;
}
#left_col {
   float: left;
   width: 50%;
   text-align: left;
   text-indent: 30px;
}
#right_col {
   float: right;
   width: 50%;
   text-align: left;
   text-indent: 30px;
}

p {
   color: #87cefa;
   font-size: 20px;
   text-decoration: bold;
   text-indent: 10px;
}

.example a {
   text-decoration: none;
   color: #ffffff;
   font-size: 18px;
}

#footer {
   height: 50px;
   width: 100%;
   bottom: 0;
}

#footer-content {
   color: DarkSlateGray;
   text-align: center;
   height: 32px;
   padding: 8px;
   font-size: 18px;
   background-color: #d4d6d8;
   border: 1px solid #ab47bc;
   position: absolute;
   bottom: 0;
}
