body {
   font-family: 'Roboto', sans-serif;
   font-weight: 300;
   background-image:
     url('css/img/lightblue.jpg');
   background-size: cover;
}

button {
   background-color: #000066;
   color: #ffffff;
   font-size: 18px;
   margin-right: 2px;
}

header {
   padding: 20px 0;
}

header .row {
   display: flex;
   align-items: center;
}

header h1 {
   font-weight: 700;
   margin: 0;
}

header nav {
   display: flex;
   justify-content: flex-end;
}

header p {
   padding: 0 20px;
   margin: 0;
   font-size: 18px;
}

.jumbotron {
   display: flex;
   align-items: center;
   max-height: 200px;
   font-family: 'Helvetica', sans-serif;
   text-shadow: 0.25px 0.25px 0.25px #000000;
   background-image: url('img/binary.jpg');
}

.jumbotron h2 {
   font-size: 28px;
   font-weight: 700;
   margin: 0;
   color: #fff;
}

.jumbotron h3 {
  margin: 0 0 10px;
  color: #fff;
  font-size: 18px;
}

section .row {
  margin: 0 0 30px;
  width: 100%;
  padding: 20px;
}

.col-md-6 {
  margin: 0 0 50px;
  font-size: 22px;
}

footer {
   color: DarkSlateGray;
   margin: 30px;
   font-size: 18px;
   background-color: #d4d6d8;
   text-align: center;
   height: 50px;
   width: 100%;
   padding: 20px;
   position: absolute;
}

li {
   line-height: 2em;
   font-size: 20px;
}
