body {
   font-family: Georgia, serif;
   height: 100%;
   margin: 0;
   text-align: left;
   width: 100%;
   background-image:
     url("css/img/");
   background-position: center top;
   background-size: cover;
}

h1 {
   font-size: 32px;
   font-family: 'Helvetica', sans-serif;
   color: #000066;
}

h2 {
   color: #000066;
   font-size: 20px;
}

h3 {
   color: #000066;
   font-size: 18px;


.hero {
   padding: 20px 0;
   margin: 0;
   font-family: 'Courier New', sans-serif;
}


p {
   color: #000066;
   font-size: 2em;
}


.hero a {
   font-size: 2em;
   text-decoration: none;
}

#footer {
   color: #000066;
   background-color: #d9d9d9
   font-size: 16px;
   padding: 10px;
}
