body {
   font-family: 'Roboto', sans-serif;
   font-weight: 300;
   background-image:
     url("css/img/lightblue.jpg");
   background-size: cover;
}

header {
   padding: 20px 0;
}

header .row,
footer .row {
   display: flex;
   align-items: center;
}

header h1 {
   font-weight: 700;
   margin: 0;
}

header nav {
   display: flex;
   justify-content: flex-end;
}

header p {
   padding: 0 20px;
   margin: 0;
   font-size: 16px;
}

.jumbotron {
   display: flex;
   align-items: center;
   max-height: 200px;
   font-family: 'Courier New', sans-serif;
   text-shadow: 0.25px 0.25px 0.25px #000000;
}

.jumbotron h2 {
   font-size: 56px;
   font-weight: 700;
   margin: 0;
   color: #000;
}

.jumbotron h3 {
  margin: 0 0 20px;
  color: #000;
}

section .row img {
  margin: 0 0 30px;
  width: 100%;
  font-size: 18px;
}

.col-md-6 {
  margin: 0 0 30px;
}

#footer {
   color: DarkSlateGray;
   padding: 20px;
   font-size: 18px;
   background-color: #d4d6d8;
}
