body {
   font-family: Georgia, serif;
   height: 100%;
   margin: 0;
   text-align: left;
   width: 100%;
   background-image:
  url("css/img/6873557-silver-background.jpg");
   background-size: cover;
}

h1 {
   font-size: 32px;
   color: #000066;
   font-family: 'Helvetica', sans-serif;
}

h2 {
   color: #000066;
   font-size: 24px;
}


.hero {
   padding: 20px 0;
   margin: 0;
   font-family: 'Trebuchet MS', 'Helvetica';
}


p {
   color: #000066;
   font-size: 2em;
}


.hero a {
   font-size: 18px;
   text-decoration: none;
}

#footer {
   color: DarkSlateGray;
   padding: 20px;
   font-size: 18px;
   background-color: #d4d6d8;
}
