html { 
  background: url(img/6873557-silver-background.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
   font-family: Georgia, serif;
   height: 100%;
   margin: 0;
   text-align: left;
   width: 100%;
   /*background-image:
  url('img/6873557-silver-background.jpg');
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat; */
   background-color: none;
}

h1 {
   font-size: 32px;
   color: #000066;
   font-family: 'Helvetica', sans-serif;
}

h2 {
   color: #000066;
   font-size: 24px;
   text-indent: 10px;
}


.hero {
   margin: 0;
   font-family: 'Trebuchet MS', 'Helvetica';
   padding-bottom: 80px;
}


p {
   color: #000066;
   font-size: 2em;
}


.hero a {
   font-size: 18px;
   text-decoration: none;
}

#wrap {
   min-height: 100%;
}

.footer {
   color: DarkSlateGray;
   font-size: 18px;
   background-color: #d4d6d8;
   text-align: center;
   height: 60px;
   width: 100%;
   padding-top: 40px;
   padding-bottom: 20px;
   position: relative;
   margin-top: -80px;
   clear: both;
}
