body {
   font-family: 'Georgia', sans-serif;
   color: #ffffff;
   height: 100%;
   margin: 0;
   text-align: left;
   width: 100%;
   background-image: url("img/purple.jpg");
   background-size: 100% auto;
}

h1 {
   font-size: 32px;
   font-family: 'Helvetica', sans-serif;
   color: #ffffff;
}

h2 {
   color: #ffffff;
   font-size: 24px;
}


.hero {
   padding: 250px 0;
   margin: 0;
   font-family: 'Trebuchet MS', 'Helvetica';
}

.img-circle {
   border-radius: 80%;
   padding: 1px;
   border: 1px solid #021a40;
}

.img {
   height: 12px;
   width: 12px;
}

p {
   color: #ffffff;
   font-size: 2em;
}


.hero a {
   color: #ffffff;
   font-size: 16px;
   text-decoration: none;
}

#footer {
   background-color: #d9d9d9;
   padding: 10px;
   font-size: 16px;
   color: #000066;
}
