<html>

  <head>
     <title> Personal Information </title>
     <b> <center> Information about Myself </center> </b> </br>
  </head>
  <h2> 
     <center> <img src="myFace.jpg"> </center> </br>
  </h2>

  <hr> </hr> </br>

  <body>
     <ul>

       <li> <b> Name: </b> Jared Wesley Stevens </li>
       <li> <b> Age: </b> 20 (DOB: 12/29/1996) </li>
       <li> <b> Education: </b> Old Dominion University
        
        <ul>
         <li> Major: Computer Science </li>
         <li> Years Active: 2015-Present </li>
         <li> Classes: C++ Programming, App Dev, Web Programming </li>
        </ul>

     </ul>
  </body>

</html>
